#title{
    text-align: center;
    
  }
  #menu-bar{
    background-color: rgb(252, 240, 148);
    text-align: center;
    
  }
  #inquire-airplane{
    text-align: center;
  }
  #departure{
   margin-right: 10px;
  }
  #arrival{
  margin-right: 10px;
  }
  .nav-link {
    text-decoration: none;
    color:rgb(69, 206, 225)
  
  }
  .nav-link-menubar {
    margin-right: 50px;
    text-decoration: none;
    
  }
  #airplane-reservation {
    text-align: center;
    margin-top: 5%;
  }
  
  